* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1484318571209-661cf29a69c3?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4NzM0ODExNQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-maior {
    background: #000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 500px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 75px);
}

.button-buscar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #727272;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 25px;

}

.caixa-media{
    margin-top: 30px;
}
.cidade {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.box-menor{
    display: flex;
    align-items: center; 
    margin-top: 20px;

}

.texto-previsao{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #ffffff;
    margin-top: 10px;
}